$grey: #4C5760;
$blue: #30C5FF;
$light-green: #BFF0D4;
$yellow: #FDE74C;
$peach: #FAC9B8;
$light-purple: #D4AFB9;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
$font: 'Noto Sans KR', sans-serif;

body {
    font-family: $font;
}