.message-list-container{
    width: 80%;
    // margin: auto;
    margin-left: 20%;
    background-color: white;
}

.message-list{
    overflow-y: scroll;
    height: 85vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
}

.message-form-container{
    // overflow-y: scroll;
    
    height: 10vh;
    form {
        border: 1px solid grey;
        border-radius: 3px;
        display: flex;
        // justify-content: center;
        align-items: center;
        background-color: white;

    }

    input {
        width: 95%;
        padding: 5px;
    }
}

.message-item, .message-form-container {
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 10px 20px;
    // margin: 20px;
    // border-radius: 5px;
    > form {
        display: flex;
        justify-content: space-between;
    }

}



.message-item:hover {
    background-color:whitesmoke;
}

.editing{
    background-color: rgb(255, 240, 211);
}

.editing:hover {
    background-color: rgb(255, 240, 211);
}

.edit-buttons {
    display: flex;
    justify-content: flex-start;
    font-size: small;
    button {
        margin: 3px 5px 3px 0px;
        padding: 3px;
        border-radius: 3px;
    }
    .cancel-button {
        color: black;
        background-color: white;
    }
    .cancel-button:hover {
        color: black;
        background-color: whitesmoke;
    }
    .save-button {
        color: white;
        background-color: green;
    }
    .save-button:hover{
        background-color: rgb(0, 160, 0);
    }
}

.message-item-header{
    // margin-bottom: 0px;
    // color: blue;
    font-weight: 700;
}

.message-form-container button{
    // background-color: $blue;
    // border-radius: 3px;
    // padding: 5px;
    // margin-left: 10px;
    // cursor: pointer;
    // height: 70%;
    // text-align: center;
    // padding-bottom: 10px;
    color: grey;
    // background-color: black;
    padding: 1px 3px;
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}

.message-form-container button:hover{
    background-color: $dark-blue;
    color: white;
}

.workspace-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    background-color: $darker-blue;
    border-bottom: 2px solid $dark-blue;
    .header-button{
        border: 1px solid white;
        font-weight: 400;
        font-size: 15px;
        border-radius: 5px;
        color: white;
        padding: 3px 8px;
        // padding: .75rem 1rem;
        // margin: 10px;
        cursor: pointer;
        margin-right: 5px;
    }
    .header-button:hover {
        border: 2px solid white;
        // font-weight: 500;
        padding: 2px 7px;
    }
}

.message-item{
    position: relative;
}

.edit-item {
    display: none;
}

.message-item:hover .edit-item {
    display: flex;
    position: absolute;
    background-color: white;
    // width: 10px;
    top: -10px;
    right: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: small;
    padding: 3px;
    button {
        margin: 2px;
        cursor: pointer;
        padding: 2px
    }

    button:hover {
        background-color: rgb(218, 218, 218);
        border-radius: 3px;
    }

    button:last-child:hover {
        background-color: pink;
        color: firebrick;
        border-radius: 3px;
    }
    
}
