.workspace-body{
    display: flex;
}

.channel-list-container {
    width: 200px;
    border: 1px solid $greyer-blue;
    border-top: none;
    // background-color: red;
    height: 95vh;
    overflow-y: scroll;
}

.dm-list-header{
    background-color: red;
}

.channel-list{
    display: flex;
    flex-direction: column;
    // height: 77vh;
    
    // align-items: flex-end;
    .symbol-box {
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        // background-color: $dark-blue;
        font-weight: 700;
        margin-right: 5px;
        &.plus-symbol {
            background-color: $dark-blue;
        }
    }

    li {
        // background-color: grey;
        display: flex;
        white-space: nowrap;
        padding: 5px;
        padding-left: 15px;
        padding-right: 10px;
        cursor: pointer;
    }
    li:hover {
        background-color: $grey-blue;
    }
    .current-channel{
        background-color: $dark-blue;
    }
    .current-channel li{
        background-color: $dark-blue;
    }
}

.channel-list-header {
    // font-weight: 700;
    padding: 5px;
    padding-left: 10px;
}

.browse-channel-link {
    // font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    &:hover{
        background-color: $grey-blue;
    }
}

.browsing .browse-channel-link{
    background-color: $dark-blue;
}

.browse-channel-list{
    height: 87vh;
    overflow-y: scroll;
    // li{
    //     padding: 10px;
    //     // padding-bottom: 30px;
    //     &:hover{
    //         background-color: whitesmoke;
    //     }
    // }
}
.browse-channel-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: max-content;
    &:hover{
        background-color: whitesmoke;
        height: min-content;
    }
    min-height: initial;
    // background-color: red;
    button{
        display: none;
        padding: 5px;
        // height: 10px;
    }
    &:hover{
        button{
            display: block;
            cursor: pointer;
            background-color: $dark-blue;
            color: white;
            border-radius: 3px;
            padding: 5px;
            height: min-content;
            &:hover{
                background-color: $darker-blue;
            }
            &.joined{
                background-color: lightgrey;
                color: grey;
                cursor: initial;
            }
        }
    }
}

.channel-name-description {
    h2{
        font-weight: 600;
        padding: 5px;
    }
    p{
        font-size: medium;
        color: grey;
        padding: 5px;
    }
}

.workspace-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $greyer-blue;
    height: 8vh;
    font-weight: 700;
    > img {
        width: 30px;
        margin-top: 5px;
        margin-right: 5px;
    }
}

.channel-header {
    height: 8vh;
    border: 1px solid $grey-blue;
    padding: 10px;
    padding-top: 15px;
    font-weight: 700;
    
    &.dm-search{
        position: relative;
        border-top: none;
        display: flex;
        align-items: center;
        font-weight: 400;
        input {
            margin-left: 10px;
            height: 80%;
            width: 100%;
        }

    }
}

.selected-users {
    display: flex;
    // margin-left: 5px;
    li{
        display: flex;
        align-items: center;
        width: max-content;
        margin-left: 10px;
        background-color: $grey-blue;
        padding: 5px;
        border-radius: 5px;
        p{
            margin-left: 5px;
            margin-bottom: 2px;
        }
        strong {
            cursor: pointer;
            margin-left: 2px;
            margin-bottom: 2px;
            padding: 0px 5px;
            border-radius: 3px;
        }
        strong:hover {
            background-color: $greyer-blue;
        }
    }
}

.searched-items{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $grey-blue;
    max-height: 30vh;
    top: 7vh;
    // bottom: -4vh;
    left: 0;
    right: 0;
    padding-top: 10px;
    overflow-y: scroll;
    li{
        display: flex;
        cursor: pointer;
        height: 5vh;
        align-items: center;
        padding: 10px;
        i {
            background-color: $grey-blue;
            padding: 5px;
            border-radius: 5px;
        }
        p {
            margin-left: 10px;
            margin-bottom: 2px;
            // background-color: yellow;
        }
    }
    
    li:hover {
        background-color: $darker-blue;
    }

    &.hidden{
        display: none;
    }
}

.dm-spacer{
    height: 69vh;
}
