.workspace-body{
    display: flex;
}

.channel-list-container {
    width: 20%;
    // background-color: red;
    border: 1px solid $whiter-blue;
}

.workspace-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $whiter-blue;
    > img {
        width: 30px;
        margin-top: 5px;
        margin-right: 5px;
    }
}