.workspace-body{
    display: flex;
}

.channel-list-container {
    width: 200px;
    border: 1px solid $greyer-blue;
    border-top: none;
    // background-color: red;
    height: 95vh;
    overflow-y: scroll;
}

.dm-list-header{
    background-color: red;
}

.channel-list{
    display: flex;
    flex-direction: column;
    // height: 77vh;
    
    // align-items: flex-end;
    .symbol-box {
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        // background-color: $dark-blue;
        font-weight: 700;
        margin-right: 5px;
        &.plus-symbol {
            background-color: $dark-blue;
        }
    }

    li {
        // background-color: grey;
        display: flex;
        white-space: nowrap;
        padding: 5px;
        padding-left: 15px;
        padding-right: 10px;
        cursor: pointer;
    }
    li:hover {
        background-color: $grey-blue;
    }
    .current-channel{
        background-color: $dark-blue;
    }
    .current-channel li{
        background-color: $dark-blue;
    }
}

.channel-list-header {
    // font-weight: 700;
    padding: 5px;
    padding-left: 10px;
}

.browse-channel-link {
    // font-weight: 700;
    padding: 5px;
    padding-left: 10px;
    &:hover{
        background-color: $grey-blue;
    }
}

.browsing .browse-channel-link{
    background-color: $dark-blue;
}

.browse-channel-list{
    height: 87vh;
    overflow-y: scroll;
    // li{
    //     padding: 10px;
    //     // padding-bottom: 30px;
    //     &:hover{
    //         background-color: whitesmoke;
    //     }
    // }
}
.browse-channel-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: max-content;
    &:hover{
        background-color: whitesmoke;
        height: min-content;
    }
    min-height: initial;
    // background-color: red;
    button{
        display: none;
        padding: 5px;
        // height: 10px;
    }
    &:hover{
        button{
            display: block;
            cursor: pointer;
            background-color: $dark-blue;
            color: white;
            border-radius: 3px;
            padding: 5px;
            height: min-content;
            &:hover{
                background-color: $darker-blue;
            }
            &.joined{
                background-color: lightgrey;
                color: grey;
                cursor: initial;
            }
        }
    }
}

.channel-name-description {
    h2{
        font-weight: 600;
        padding: 5px;
    }
    p{
        font-size: medium;
        color: grey;
        padding: 5px;
    }
}

.workspace-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid $greyer-blue;
    height: 8vh;
    font-weight: 700;
    > img {
        width: 30px;
        margin-top: 5px;
        margin-right: 5px;
    }
}

.channel-header {
    height: 8vh;
    border: 1px solid $grey-blue;
    padding: 10px;
    padding-top: 15px;
    font-weight: 700;
}

.modal {
    display: none;
}

.modal.active {
    display: block;
}

.modal-screen{
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.modal-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: large;
    // align-items: center;
    z-index: 3;
    background: white;
    border-radius: 10px;
    width: 500px;
    height: 420px;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: 0%;
    margin: auto;
    // justify-self: center;
    padding: 30px;
    box-shadow: 0 0 4px #000000;
}

.modal-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    h2 {
        font-size:medium;
        margin-bottom: 3px;
    }
    strong {
        font-size: small;
        color: grey;
    }
    input {
        font-size: large;
        border-radius: 3px;
        border: 1px solid grey;
        padding: 10px;
    }
    input:focus {
        border: 1px solid $darker-blue;
        box-shadow: 0 0 5px $dark-blue;
    }
}

.modal-form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    h1{
        font-weight: 700;
        font-size: x-large;
    }
    div{
        font-weight: 400;
        color: grey;
        font-size: x-large;
        cursor: pointer;
        // background-color: $greyer-blue;
        padding: 0px 4px 0px 4px;
        border-radius: 3px;
    }

    div:hover{
        color: black;
        background-color: whitesmoke;
    }  
}

.modal-form-sentence {
    font-size: small;
    color: grey;
    margin: 10px;
    margin-bottom: 15px;
}

// .modal-form-button {
//     // cursor: pointer;
//     align-self: flex-end;
//     font-size: medium;
//     font-weight: 700;
//     background-color:lightgrey;
//     color:grey;
//     border-radius: 3px;
//     padding: 7px 15px;
// }

.modal-form-button {
    cursor: pointer;
    align-self: flex-end;
    font-size: medium;
    font-weight: 700;
    background-color: $darker-blue;
    color: white;
    border-radius: 3px;
    padding: 7px 15px;
}

.modal-form-button:hover{
    background-color: $dark-blue;
    color: white;
}